<h1> {{ title }} </h1>
<p>{{message}} </p>



    <a href="/getMovies" id ="parentButton" class="selectButton">Parents</a>
 
    <a href="/getMoviesKids" id="kidsButton" class="selectButton">Kids</a>

